.navbar {
  width: 98.081% !important;
}

#btnAddWarehouse {
  position: absolute;
  top: 65px;
  right: 5px;
  padding: 8px 16px;
  border: 3px solid #0059b8;
  font-size: 15px;
}

#warehouseTable th.col-id {
  width: 50px;
}

#warehouseTable th.col-name {
  width: 300px;
}

/*
#warehouseTable th.col-location {
  width: calc(100% - 652px);
}
*/

#warehouseTable th.col-quantity {
  width: 180px;
}

#warehouseTable th.col-buttons {
  width: 122px;
}
